{% extends "base.html" %}

{% block title %}
About Us
{% endblock %}

{% block content %}
<div class="container">
    <div class="row min-vh-100 align-items-center align-content-center">
        <div class="col-md-8 mt-6 mt-md-0 mx-auto">
            <div class="home-text">
                <h1 class="text-dark fs-1 text-center">About Us</h1>
                <h2 class="fs-6 text-center" style="margin-top: 50px;">Welcome to Cloud Computing</h2>
                
            </div>    
        </div>
    </div>
</div>
{% endblock %}


