<!-- index.html -->
{% extends "base.html" %}

{% block title %}
Welcome to Our Site!
{% endblock %}

{% block content %}
<div class="container">
    <div class="row min-vh-100 align-items-center align-content-center">
        <div class="col mt-5 mt-md-0 mx-auto mb-2">
            <div class="text-center">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras in pharetra mi. Vivamus maximus mauris nec ligula mollis tempor. Quisque gravida, nibh nec porttitor blandit, velit ligula ultricies elit, ac vehicula lectus urna faucibus enim. Suspendisse potenti. Proin sit amet auctor odio. Duis magna odio, maximus vitae auctor vitae, ultricies bibendum neque. Fusce volutpat consequat lectus. Quisque eget odio egestas, blandit elit nec, malesuada mi. Aliquam mattis interdum sagittis. Vivamus iaculis massa consectetur vestibulum consequat. Praesent eget tortor est. Donec vitae nunc aliquet nulla tincidunt gravida. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent porta commodo ligula, vitae porta massa fringilla at. Sed elementum feugiat rutrum. </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}





